.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.headline {
  font-weight: 100;
  margin: 48px;
  margin-bottom: 48px;
}

.name {
  font-weight: 400;
}

.bold-this {
  font-weight: 500;
  white-space: break-spaces;
}

.friend-box {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  
}

.friend-card {
  width: 300px;
  height: 350px;
  text-align: left;
  padding: 24px;
  padding-top: 40px;
  margin: 24px;
  box-shadow: 8px 10px 19px 4px rgba(113,105,105,0.37);
}
